# ── Server ───────────────────────────────────────
PORT=3000

# ── Database ──────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=simple_api_db

# ── JWT ───────────────────────────────────────────
JWT_SECRET=ganti_dengan_string_acak_panjang_minimal_32_karakter
JWT_EXPIRES=1d
